* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sale-coupon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F7941E;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--while-color);
    font-weight: 600;
}

.price-old {
    text-decoration: line-through;
    color: #888;
    font-size: 13px;
}

html {
    font-family: sans-serif;
}

:root {
    --while-color: #fff;
    --black-color: #000;
}

.header__img {
    background-color: #5b53f4;
    text-align: center;
}

.header__img-header-item {
    max-width: 100%;
}

.header__container {
    width: 1230px;
    margin: auto;
    display: flex;
    position: relative;
}

.header__container-logo {
    padding: 14px 0;
}

.header__container__menu {
    padding-left: 45px;
    padding-top: 15px;
    cursor: pointer;
    display: flex;
}

.header__container__menu-icon {
    width: 35px;
    height: 35px;
}

.header__container__menu-arrow-down {
    opacity: 0.5;
    padding: 10px 2px;
}

.header__container__menu-item {
    display: none;
    background-color: var(--while-color);
    position: absolute;
    top: 103%;
    left: 0;
    right: 0;
    border-radius: 5px;
    cursor: default;
}

.header__container__menu-item::before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: 220px;
    width: 100px;
    height: 10px;
}

.header__container__menu-item-list {
    flex: 1;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #e8e8e8;
    margin-top: 20px;
    margin-bottom: 12px;
}

.header__container__menu-item-list-item {
    border-radius: 12px;
    padding: 14px;
    margin: 5px 10px;
}

.header__container__menu-item-list-item:hover {
    background-color: #F2F4F5;
    cursor: pointer;
}

.header__container__menu:hover .header__container__menu-item {
    display: flex;
}

.header__container__menu-item-list-heading {
    color: #7A7E7F;
    margin: 10px 25px;
    font-size: 15px;
}

.header__container__menu-list-item + .header__container__menu-list-item {
    margin: 18px 0;
}

.header__container__menu-item-list-detail {
    flex: 3;
}

.header__container__menu-item-list-detail-heading {
    margin: 20px;
    display: flex;
    align-items: center;
}

.header__container__menu-item-list-detail-heading-icon {
    height: 24px;
}

.header__container__menu-item-list-detail-heading-decription {
    font-size: 22px;
    display: inline-block;
    margin-left: 10px;
}

.header__container__menu-list-item-detail {
    margin: 0 22px;
}

.header__container__menu-list-item-row {
    display: flex;
    margin-bottom: 20px;
}

.header__container__menu-item-column {
    width: 22%;
}

.header__container__menu-item-column {
    margin-right: 25px;
}

.header__container__menu-item-column-heading {
    margin-bottom: 10px;
}

.header__container__menu-item-column a {
    text-decoration: none;
    color: #333333;
}

.header__container__menu-item-column-content {
    list-style: none;
    margin: 8px 0;
}

.header__container__menu-item-column-content span:hover {
    transition: all 0.4s ease 0s;
    color: #bf9a61;
}

.header__container__menu-item-column-content a {
    text-decoration: none;
    color: #666;
    font-size: 13px;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.header__container__menu-item-column-see-all {
    list-style: none;
}

.header__container__menu-item-column-see-all span {
    font-size: 13px;
    color: #2489f4;
}

.header__container__menu-item-column h5 {
    display: inline-block;
}

.header__container__menu-item-column-icon-heart {
    color: #ff0000;
}

.header__container__search {
    margin-left: 10px;
}

.header__container__input-search-item {
    margin-top: 15px;
    position: relative;
}

.header__container__search-input-search {
    height: 40px;
    width: 580px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #cdcfd0;
    padding: 10px 20px;
    outline: none;
}

.header__container__search-input-search::placeholder {
    opacity: 0.5;
}

.header__container__search-img {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #C92127;
    padding: 7px 28px;
    border-radius: 6px;
    color: var(--while-color);
}

.header__container__notify {
    margin-top: 18px;
    margin-left: 30px;
    text-align: center;
    cursor: pointer;
}


.header__container__notify-item {
    position: relative;
}

.header__container__notify-icon {
    font-size: 20px;
    opacity: 0.5;
}

.header__container__notify-content {
    font-size: 12px;
    color: #7a7e7f;
    padding: 4px 0;
}

.header__container__notify-hover {
    display: none;
    position: absolute;
    top: 130%;
    right: 0;
    height: 350px;
    width: 260px;
    border-radius: 10px;
    background-color: var(--while-color);
    cursor: default;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header__container__notify-hover::before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    right: 0px;
    width: 70px;
    height: 30px;
}

.header__container__notify-item-one:hover .header__container__notify-hover {
    display: block;
}

.header__container__notify-hover-header {
    text-align: start;
    padding: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 222, 222);
}

.header__container__notify-hover-header-content {
    font-weight: 600;
    font-size: 16px;
    margin-left: 8px;
}

.header__container__notify-hover-header p{
    display: inline-block;
}

.header__container__notify-hover-container-img {
    margin: 20px 0;
}

.header__container__notify-hover-container-decription {
    margin-left: 50px;
    width: 160px;
    font-size: 17px;
}

.header__container__notify-hover-container-user-btn-login{
    margin-top: 25px;
    padding: 12px 20px;
    width: 230px;
    color: var(--while-color);
    font-weight: 700;
    background-color: #C92127;
    border-radius: 9px;
    cursor: pointer;
    outline: none;
    border: none;
}

.header__container__notify-hover-container-user-btn-register {
    margin-top: 10px;
    padding: 12px 20px;
    width: 230px;
    color: var(--while-color);
    font-weight: 750;
    color: #C92127;
    border-radius: 9px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #C92127;
}

.header__container__cart {
    margin-top: 17px;
    margin-left: 20px;
    text-align: center;
}

.header__container__cart a {
    text-decoration: none;
}

.header__container__cart-img {
    width: 23px;
}

.header__container__cart-content {
    font-size: 12px;
    color: #7a7e7f;
}

.header__container__user {
    margin-top: 18px;
    margin-left: 18px;
    text-align: center;
}

.header__container__user a {
    text-decoration: none;
}

.header__container__user-item {
    position: relative;
}

.header__container__user-icon {
    color: #7a7e7f;
    margin-bottom: 7px;
    font-size: 19px;
}

.header__container__user-content {
    color: #7a7e7f;
    font-size: 12px;
}

.header__container__user__sub-user {
    display: none;
    background-color: var(--while-color);
    position: absolute;
    top: 140%;
    right: 0;
    border-radius: 10px;
    height: 165px;
    width: 255px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.header__container__user__sub-user::before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    right: 0px;
    width: 60px;
    height: 26px;
}

.header__container__user__sub-user-login {
    background-color: #C92127;
    color: #fff;
    border: none;
    outline: none;
    font-weight: bold;
    height: 25%;
    width: 90%;
    border-radius: 6px;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
}

.header__container__user__sub-user-register {
    background-color: var(--while-color);
    border: 2px solid #C92127;
    color: #C92127;
    outline: none;
    font-weight: bold;
    height: 25%;
    width: 90%;
    border-radius: 6px;
    margin-top: 8px;
    font-size: 14px;
    cursor: pointer;
}

.header__container__user__sub-user-login-fb {
    background-color: #1478FC;
    color: #fff;
    border: none;
    outline: none;
    color: var(--while-color);
    height: 25%;
    border-radius: 6px;
    width: 90%;
    margin-top: 8px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.header__container__user__sub-user-login-fb-content {
    display: inline-block;
}

.header__container__user-item:hover .header__container__user__sub-user {
    position: absolute;
    display: block;
}

.header__container__user__sub-user-login:hover ,
.header__container__user__sub-user-register:hover ,
.header__container__user__sub-user-login-fb:hover .header__container__user__sub-user-login-fb-content {
    font-size: 14.5px;
}

.header__container__user__sub-user-login-fb-icon {
    color: var(--while-color);
    background-color: #1478FC;
    font-size: 17px;
    padding-right: 3px;
}

.header__container__language {
    margin-top: 18px;
    margin-left: 18px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #cdcfd0;
    height: 40px;
    width: 70px;
    padding: 9px 8px;
    position: relative;
    cursor: pointer;
}

.header__container__language-arrow-down {
    position: absolute;
    top: 14px;
    left: 48px;
    font-size: 13px;
    opacity: 0.6;
}

.body {
    background-color: #f0f0f0;
}

.body__overlay {
    position: fixed;
    top: 132px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
}

.header__container__menu:hover {
    z-index: 2;
}

.body-container {
    width: 1230px;
    margin: auto;
}

.body-container__slider {
    display: flex;
    padding: 18px 0;
}

.body-container__slider-row {
    flex: 3;
}

.body-container__slider__one {
    border-radius: 10px;
    max-width: 100%;
}

.body-container__slider-arrow {
    display: flex;
    justify-content: space-between;
}

.body-container__slider-arrow-left {
    margin-top: -21%;
    margin-left: -12px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 5px 0;
    color: rgb(0, 0, 0 , 0.3);
    background-color: var(--while-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease 0s;
}

.body-container__slider-arrow-right {
    margin-top: -21%;
    margin-right: -12px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 5px 0;
    color: rgb(0, 0, 0 , 0.3);
    background-color: var(--while-color);
    transition: all 0.4s ease 0s;
}

.body-container__slider-arrow-left:hover ,
.body-container__slider-arrow-right:hover {
    color: rgb(0, 0, 0 , 0.5);
    margin-top: -21%;
    margin-right: -10px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 8px 0;
}

.body-container__slider__column {
    flex: 1;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body-container__slider__column-item {
    width: 100%;
}

.body-container__slider__two {
    flex: 1;
    border-radius: 10px;
    margin-bottom: 2px;
}

.body-container__slider__three {
    flex: 1;
    border-radius: 10px;
}

.body-container__items-image {
    display: flex;
    justify-content: space-between;
}

.body-container__item {
    width: 25%;
    margin-right: 10px;
}

.body-container__item-img {
    width: 300px;
}

.body-container__items-image a {
    display: block;
}

.body-container__nav {
    margin-top: 12px;
    background-color: var(--while-color);
    padding: 14px;
    display: flex;
    justify-content: space-between;
}

.body-container__nav-flash-sale {
    text-align: center;
    width: 8%;
}

.body-container__nav-flash-sale-img {
    width: 48.88px;
}

.body-container__nav-content {
    margin-top: 8px;
    font-size: 14px;
}

.body-container__flash-sale {
    margin-top: 20px;
}

.body-container__flash-sale__header {
    display: flex;
    background-color: #FCDAB0;
    height: 50px;
    align-items: center;
}

.body-container__flash-sale__header-content {
    margin: 10px 0;
    padding: 0 10px;
}

.body-container__flash-sale__header-content a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.body-container__flash-sale__header-content-image {
    width: 25px;
}

.body-container__flash-sale__header-content-decription {
    color: #000;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    margin-left: 9px;
    font-weight: 600;
}

.body-container__flash-sale__header-time {
    border-left-color: #646464;
    border-left-style: solid;
    border-left-width: 2px;
    padding: 0 10px;
}

.body-container__flash-sale__header-time__hour {
    background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 5px;
    margin-left: 5px;
    font-weight: 600;
}

.body-container__flash-sale__header-time__minutes {
    background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 600;
}

.body-container__flash-sale__header-time__second {
    background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 600;
}

.body-container__flash-sale__content {
    background-color:  var(--while-color);
    position: relative;
}

.body-container__flash-sale__content__item {
    width: 18%;
    position: relative;
}

.body-container__flash-sale__content__item-coupon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F7941E;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--while-color);
    font-weight: 600;
}

.body-container__flash-sale__content__item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.body-container__flash-sale__content-container-items {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-bottom: 20px;
}

.body-container__flash-sale__content__item__image {
    margin: 0 10px;
    height: 240px;
}

.body-container__flash-sale__content__item__image img{
    height: 190px;
}

.body-container__flash-sale__content__item__image p {
    color: #333;
    font-size: 14px;
    line-height: 19px;
    max-height: 220px;
    min-height: 9px;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 5px;
}

.body-container__flash-sale__content__item__image a {
    text-decoration: none;
    color: #333;
}

.body-container__flash-sale__content__item-content {
    margin: 0 10px;
}

.body-container__flash-sale__content__item-content-price {
    color: #F7941E;
    font-size: 18px;
    font-weight: 600;
    margin: 6px 0;
}

.body-container__flash-sale__content__item-content-price-coupon {
    text-decoration: line-through;
    color: #888;
    margin-bottom: 9px;
    font-size: 14px;
}

.body-container__flash-sale__content__item-content-status-sold {
    background-color: rgba(210, 33, 33, 0.4);
    border-radius: 9px;
    text-align: center;
    font-size: 13px;
    color: var(--while-color);
    margin-bottom: 9px;
}

.body-container__flash-sale__content__view-more {
    height: 60px;
}

.status-sold-product {
    background-color: red;
    background-size: 12px;
}

.body-container__flash-sale__content__view-more a {
    text-decoration: none;
    color: var(--while-color);
    font-size: 13px;
    font-weight: bold;
    padding: 12px;
    display: inline-block;
    width: 210px;
    border-radius: 30px;
    background-image: linear-gradient(to right , #ff9800 , #F7695D);
    box-shadow: 2px 3px 5px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.body-container__flash-sale__content__arrow-right {
    position: absolute;
    top: 35%;
    right: 0;
}

.body-container__flash-sale__content__arrow-right-icon {
    opacity: 0.4;
    font-size: 18px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 8px;
}

.body-container__flash-sale__content__arrow-right:hover .body-container__flash-sale__content__arrow-right-icon {
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.body-container__list-product {
    background-color: var(--while-color);
    border-radius: 7px;
}

.body-container__list-product__header {
    margin: 22px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 18px 0px;
}

.body-container__list-product__header img {
    margin-right: 8px;
}

.body-container__list-product__content {
    display: flex;
    margin: 15px 21px 0;
    padding-bottom: 20px;
}

.body-container__list-product__content-item {
    width: 10%;
}

.body-container__list-product__content-item:hover .body-container__list-product__content-item-content {
    color: #C92127;
}

.body-container__list-product__content-item a {
    text-decoration: none;
}

.body-container__list-product__content-item-content {
    text-align: center;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    margin-top: 16px;
    width: 85%;
}

.trend-buy {
    margin-top: 20px;
}

.trend-buy-header {
    display: flex;
    align-items: center;
    background-color: #FCDDEF;
    padding: 12px 20px;
}

.trend-buy-header-img {
    margin-right: 10px;
}

.trend-buy-heading {
    font-size: 17px;
}

.trend-buy__nav {
    background-color: var(--while-color);
    display: flex;
    padding: 12px 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f0f0f0;
}

.trend-buy__nav-title-one {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #F7931E;
    color: #F7931E;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 14px;
}

.trend-buy__nav-title-two {
    padding: 10px;
    font-size: 14px;
    margin-right: 20px;
}

.trend-buy__nav-title-three {
    padding: 10px;
    font-size: 14px;
}

.trend-buy__nav-title-two:hover , .trend-buy__nav-title-three:hover {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #F7931E;
    color: #F7931E;
    cursor: pointer;
}

.trend-buy-products {
    background-color: var(--while-color);
    padding: 20px 23px;
}

.trend-buy-products__row {
    display: flex;
    justify-content: space-between;
}

.trend-buy-products__row__item {
    position: relative;
    width: 18%;
}

.trend-buy-products__row__item-infor {
    padding-bottom: 10px;
    min-height: 240px;
}

.trend-buy-products__row__item-infor a {
    text-decoration: none;
}

.trend-buy-products__row__item-infor__img {
    padding-left: 20px;
    height: 180px;
    text-align: center;
    margin: 0 auto;
}

.trend-buy-products__row__item-infor__content {
    font-size: 15px;
    color: #333;
    padding-top: 10px;
    line-height: 19px;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.trend-buy-products__row__item__price p {
    color: #C92127;
    font-weight: 600;
    display: inline-block;
}

.trend-buy-products__row__item__price-old {
    padding-top: 10px;
    text-decoration: line-through;
    color: #888;
    margin-bottom: 9px;
    font-size: 14px;
}

.trend-buy-products__row__item__stars {
    margin-top: 35px;
}

.trend-buy-products__row__item__stars-price-old {
    margin-top: 10px;
}

.trend-buy-products__row__item__star-yellow {
    color: #f6a500;
    font-size: 12px;
}

.trend-buy-products__row__item__star {
    color: #e3e5e5;
    font-size: 12px;
}

.trend-buy-products__row__item__star-number {
    color: #f6a500;
}

.trend-buy-products__row__item__number-bought {
    background-color: rgba(210, 33, 33, 0.4);
    border-radius: 9px;
    text-align: center;
    font-size: 12px;
    color: var(--while-color);
    margin-bottom: 40px;
    margin-top: 4px;
}

.trend-buy-products__row__item__sale-coupon {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #F7941E;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--while-color);
    font-weight: 600;
}

.trend-buy-product__see-more {
    width: 210px;
    padding: 10px 0;
    border-radius: 10px;
    border-style: solid;
    border-color: #C92127;
    border-width: 2px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}

.trend-buy-product__see-more a {
    text-align: center;
    text-decoration: none;
    color: #C92127;
    font-weight: 600;
    font-size: 14px;
}

.danh-muc-san-phan-detail {
    margin-top: 15px;
    background-color: var(--while-color);
    padding-bottom: 20px;
    position: relative;
}

.danh-muc-san-phan-detail__nav {
    background-color: var(--while-color);
    display: flex;
    padding: 12px 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f0f0f0;
}

.danh-muc-san-phan-detail__nav-title-one {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #F7931E;
    color: #F7931E;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 14px;
}

.danh-muc-san-phan-detail__nav-title-two {
    padding: 10px;
    font-size: 14px;
    margin-right: 20px;
}

.danh-muc-san-phan-detail__nav-title-three {
    padding: 10px;
    font-size: 14px;
}

.danh-muc-san-phan-detail__nav-title-two:hover , .trend-buy__nav-title-three:hover {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #F7931E;
    color: #F7931E;
    cursor: pointer;
}

.danh-muc-san-phan-detail__list-product {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.danh-muc-san-phan-detail__list-product-item {
    width: 19.5%;
    height: 380px;
    border-width: 1px;
    border-style: solid;
    border-color: #F2F4F5;
    padding: 9px;
}

.danh-muc-san-phan-detail__list-product-item a {
    text-decoration: none;
}

.danh-muc-san-phan-detail__list-product-item-info__img {
    height: 186px;
}

.danh-muc-san-phan-detail__list-product-item-info__content {
    color: #333;
    font-size: 14px;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    padding-top: 5px;
}

.danh-muc-san-phan-detail__list-product-item-price {
    padding-top: 10px;
    color: #C92127;
    font-weight: 600;
    padding-bottom: 4px;
}

.danh-muc-san-phan-detail__list-product-item-price-coupon {
    background-color: #C92127;
    color: var(--while-color);
    font-size: 14px;
    margin-left: 4px;
    padding: 5px;
    border-radius: 5px;
}

.danh-muc-san-phan-detail__list-product-item-price-old {
    text-decoration: line-through;
    color: #888;
    font-size: 13px;
    margin-bottom: -15px;
}

.danh-muc-san-phan-detail__list-product-item-stars {
    padding-top: 26px;
}

.danh-muc-san-phan-detail__list-product-item-icon-star {
    color: #e3e5e5;
    font-size: 12px;
}

.danh-muc-san-phan-detail__list-product-item-icon-star-yellow {
    color: #f6a500;
    font-size: 12px;
}

.danh-muc-san-phan-detail__list-product-item__star-number {
    color: #f6a500;
}

.danh-muc-san-phan-detail__list-product-item__add-to-cart {
    color: #F7941E;
    border-radius: 50px;
    border-width: 1px;
    border-color: #F7941E;
    border-style: solid;
    width: 100%;
    min-height: 40px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.danh-muc-san-phan-detail__list-product-item__add-to-cart .add-icon-shopping-yellow {
    background-image: url("../img/SGK-STK/shopping-bag-img.png");
    background-repeat: no-repeat;
    background-size: 15px;
    width: 18px;
    margin-right: 6px;
}

.danh-muc-san-phan-detail__list-product-item__add-to-cart span {
    font-size: 14px;
    font-weight: 600;
    transition: all 0.6s ease 0s;
}


.danh-muc-san-phan-detail__list-product-item__add-to-cart:hover {
    background-image: linear-gradient(to right , #ff9800 , #F7695D);
    background-repeat: no-repeat;
    border: none;
}

.danh-muc-san-phan-detail__list-product-item__add-to-cart:hover .add-icon-shopping-white {
    background-image: url("../img/SGK-STK/shopping-bag-white.png");
    background-repeat: no-repeat;
    background-size: 15px;
    width: 18px;
    margin-right: 5px;
    margin-left: -22px;
}

.danh-muc-san-phan-detail__list-product-item__add-to-cart:hover > span {
    color: var(--while-color);
}

.danh-muc-san-phan-detail__see-more {
    width: 210px;
    padding: 10px 0;
    border-radius: 10px;
    border-style: solid;
    border-color: #C92127;
    border-width: 2px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}

.danh-muc-san-phan-detail__see-more a {
    text-align: center;
    text-decoration: none;
    color: #C92127;
    font-weight: 600;
    font-size: 14px;
}

.danh-muc-san-phan-detail__arrow-right {
    position: absolute;
    top: 35%;
    right: 5px;
}

.danh-muc-san-phan-detail__arrow-right-icon {
    opacity: 0.4;
    font-size: 18px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 8px;
}

.danh-muc-san-phan-detail__arrow-right:hover .danh-muc-san-phan-detail__arrow-right-icon {
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.list-product {
    margin-top: 20px;
    background-color: var(--while-color);
    padding: 20px;
    position: relative;
}

.list-product__header {
    margin-bottom: 10px;
}

.list-product__header-title {
    font-size: 17px;
    margin-bottom: 10px;
}

.list-product__header-content {
    background-color: var(--while-color);
    display: flex;
    justify-content: start;
    padding: 10px 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f0f0f0;
}

.list-product__header-content-one {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #F7931E;
    color: #F7931E;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 14px;
    display: inline-block;
}

.list-product__header-content-two {
    padding: 10px;
    font-size: 14px;
    margin-right: 20px;
    display: inline-block;
}

.list-product__header-content-two:hover {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #F7931E;
    color: #F7931E;
    cursor: pointer;
}

.list-product__container {
    display: flex;
}

.list-product__container-item-chinh-img {
    margin-right: 60px;
}

.list-product__container-item-chinh-img img {
    margin-left: 20px;
}

.list-product__container-items-phu {
    display: flex;
    flex-wrap: wrap;
}

.list-product__container-items-phu__item {
    display: flex;
    width: 48%;
    margin-right: 10px;
}

.list-product__container-items-phu__item-img img {
    height: 165px;
    width: auto;
}

.list-product__container-items-phu__item-content {
    margin-left: 8px;
}

.list-product__container-items-phu__item-content a {
    text-decoration: none;
}

.list-product__container-items-phu__item-content p {
    color: var(--black-color);
    font-size: 14px;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
}

.list-product__container-items-phu__item-content-price {
    padding-top: 10px;
    color: #C92127;
    font-weight: 600;
    padding-bottom: 4px;
}

.list-product__container-items-phu__item-content-price-coupon {
    background-color: #C92127;
    color: var(--while-color);
    font-size: 14px;
    margin-left: 4px;
    padding: 5px;
    border-radius: 5px;
}

.list-product__container-items-phu__item-content-price-old {
    text-decoration: line-through;
    color: #888;
    font-size: 13px;
    margin-bottom: -15px;
}

.list-product__container-items-phu__item-content-stars {
    padding-top: 26px;
}

.list-product__container-items-phu__item-content-icon-star {
    color: #e3e5e5;
    font-size: 12px;
}

.list-product__container-items-phu__item-content-icon-star-yellow {
    color: #f6a500;
    font-size: 12px;
}

.list-product__container-items-phu__item-content__star-number {
    color: #f6a500;
}

.list-product__see-more {
    width: 210px;
    padding: 10px 0;
    border-radius: 10px;
    border-style: solid;
    border-color: #C92127;
    border-width: 2px;
    cursor: pointer;
    margin-left: 700px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.list-product__see-more a {
    text-decoration: none;
    color: #C92127;
    font-weight: 600;
    font-size: 14px;
}

.list-product__arrow-right {
    position: absolute;
    top: 48%;
    right: 5px;
}

.list-product__arrow-right-icon {
    opacity: 0.4;
    font-size: 18px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 8px;
}

.list-product__arrow-right:hover .list-product__arrow-right-icon {
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.thuong-hieu {
    margin-top: 20px;
    display: flex;
    position: relative;
    background-color: var(--while-color);
    padding: 10px;
}

.thuong-hieu-item {
    margin: 0 10px;
}

.thuong-hieu-item img {
    height: 115px;
}

.thuong-hieu-arrow-left-icon {
    position: absolute;
    top: 42%;
    left: 0;
    opacity: 0.5;
    padding: 5px;
    cursor: pointer;
}

.thuong-hieu-arrow-right-icon {
    position: absolute;
    top: 42%;
    right: 0;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}

.register-notify {
    margin-top: 35px;
    background-color: #9fa7ab;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-style: solid;
    border-bottom-color: #808080;
    border-bottom-width: 1px;
    display: flex;
    justify-content: center;
    height: 78px;
}

.register-notify__decrip {
    padding: 20px;
    margin: auto 0;
}

.register-notify__decrip-icon {
    font-size: 18px;
    color: var(--while-color);
    margin-right: 8px;
}

.register-notify__decrip-content {
    color: var(--while-color);
    font-size: 18px;
    margin-right: 16px;
}

.register-notify__input {
    line-height: 78px;
    position: relative;
}

.register-notify__input input {
    padding: 16px 20px;
    border-radius: 5px;
    outline: none;
    border-style: none;
    width: 700px;
}

.register-notify__input-btn {
    position: absolute;
    top: 20px;
    right: 2px;
    padding: 12px 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #f7941e;
    color: var(--while-color);
    font-weight: 600;
    cursor: pointer;
}

.register-notify__input-btn:hover {
    background-color: #c00;
    color: var(--while-color);
    transition: all 0.4s ease 0s;
}

.register-notify__input input::placeholder {
    opacity: 0.5;
}

.footer {
    background-color: var(--while-color);
    padding-top: 40px;
    padding-bottom: 25px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
}

.footer__intro {
    padding: 0 15px;
    flex: 1.3;
    border-right: 1px solid #cecece;
}

.footer__intro__image img {
    width: 300px;
    margin: 16px 0;
}

.footer__intro__content1 {
    font-size: 13px;
    line-height: 19px;
}

.footer__intro__content2 {
    margin-top: 10px;
    line-height: 19px;
    font-size: 13px;
}

.footer__intro__certificate img {
    margin: 12px 0;
    width: 100px;
}

.footer__intro__link-social a {
    text-decoration: none;
    color: #333;
    font-size: 28px;
    display: inline-block;
    margin-right: 12px;
}

.footer__intro__phone-app {
    margin-top: 20px;
    display: flex;
}

.footer__intro__phone-app-android img {
    width: 100px;
    margin-right: 18px;
}

.footer__intro__phone-app-appstore img {
    width: 100px;
}

.footer__service-support-account {
    display: flex;
    padding: 0px 30px;
    flex: 3;
    flex-wrap: wrap;
}

.footer__service {
    width: calc(100% / 3);
    padding: 0 15px;
}

.footer__service-heading h4 {
    line-height: 39px;
}

.footer__service-content a {
    text-decoration: none;
    color: var(--black-color);
}

.footer__service-content p {
    line-height: 35px;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    display: inline-block;
}

.footer__service-content p:hover {
    padding-left: 10px;
    color: #ea7696;
    transition: all 0.4s ease 0s;
}

.footer__support {
    width: calc(100% / 3);
    padding: 0 15px;
}

.footer__support-heading h4 {
    line-height: 39px;
}

.footer__support-content a {
    text-decoration: none;
    color: var(--black-color);
}

.footer__support-content p {
    line-height: 35px;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    display: inline-block;
}

.footer__support-content p:hover {
    padding-left: 10px;
    color: #ea7696;
    transition: all 0.4s ease 0s;
}

.footer__my-account {
    width: calc(100% / 3);
    padding: 0 15px;
}

.footer__my-account a {
    text-decoration: none;
    color: var(--black-color);
}

.footer__my-account-heading h4 {
    line-height: 39px;
}

.footer__my-account-content {
    display: flex;
    flex-direction: column;
}

.footer__my-account-content a {
    text-decoration: none;
    color: var(--black-color);
}

.footer__my-account-content p {
    line-height: 35px;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    display: inline-block;
}

.footer__my-account-content p:hover {
    padding-left: 10px;
    color: #ea7696;
    transition: all 0.4s ease 0s;
}

.footer__contact {
    margin-top: 30px;
    width: 100%;
}

.footer__contact__heading {
    padding-left: 15px;
    padding-bottom: 10px;
}

.footer__contact__heading h3 {
    line-height: 39px;
}

.footer__contact__content {
    display: flex;
}

.footer__contact__content__address {
    margin: 0 10px;
    width: 100%;
}

.footer__contact__content__address i , 
.footer__contact__content__email i , 
.footer__contact__content__phone-number i {
    font-size: 16px;
    color: #333;
}

.footer__contact__content__address span , 
.footer__contact__content__email , 
.footer__contact__content__phone-number {
    font-size: 13px;
    color: #333;
    font-weight: 400;
}

.footer__contact__content__email {
    margin: 0 8px;
    width: 100%;
}

.footer__contact__content__phone-number {
    margin: 0 15px;
    width: 100%;
}

.footer__doi-tac {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
}

.footer__doi-tac__image {
    padding-bottom: 40px;
    margin-right: 50px;
}

.footer__doi-tac__image-icon {
    height: 50px;
    width: auto;
}

.footer-chung-nhan {
    text-align: center;
    margin-top: 30px;
}

.footer__chung-nhan-kinh-doanh {
    color: #adadad;
    font-size: 13px;
    padding-left: 14px;
}

.header-mobile-tablet {
    display: none;
}

.flash-sale-mobile-tablet-list-item {
    display: none;
}

.trend-buy-mobile {
    display: none;
}

.danh-muc-san-phan-detail-tablet {
    display: none;
}

.trend-buy-tablet {
    display: none;
}

.danh-muc-san-phan-detail-mobile {
    display: none;
}

.trend-buy-tablet {
    display: none;
}

.header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
}

.header__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 12;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
}

.header-menu__header {
    display: flex;
    background-color: #C62128;
    justify-content: space-between;
}

.header-menu__btn-back {
    cursor: pointer;
}

.header-menu__btn-back-icon {
    color: #fff;
    padding: 16px;
    font-size: 20px;
}

.header-menu__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    flex: 1;
}

.header-menu__body {
    background-color: #f2f4f5;
    display: flex;
}

.header-menu__list {
    width: 90px;
}

.header-menu__item {
    text-align: center;
    background-color: #fff;
    padding: 10px 5px;
    cursor: pointer;
}

.header-menu__item + .header-menu__item {
    margin-top: 4px;
}

.header-menu__img{
    width: 24px;
}

.header-menu__name {
    font-size: 13px;
}

.header-menu__item--active {
    border-left: 4px solid #C92127;
}

.header-menu__content {
    width: calc(100% - 90px);
    margin-left: 5px;
    margin-top: 5px;
}

.header-menu__content-list {
    width: 100%;
}

.header-menu__content-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 14px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.header-menu__content-item + .header-menu__content-item {
    margin-top: 4px;
}

.header-menu__content-heading {
    font-size: 14px;
    color: #333;
}

.header-menu__content-icon {
    font-size: 13px;
    color: #333;
}

/* Mobile and Tablet */
@media only screen and (max-width: 900px) {
    body {
        width: 100%;
    }
    .main {
        width: 100%;
    }

    .header {
        display: none;
    }

    .body-container__nav-flash-sale {
        width: 20%;
    }

    .header-mobile-tablet {
        display: block;
        width: 100%;
        padding: 6px;
        background-color: #C92127;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .body {
        margin-top: 98px;
    }

    .body-container__nav {
        flex-wrap: wrap;
    }

    .header-mobile-tablet__logo-img {
        width: 140px;
    }

    .header-mobile-tablet__logo {
        text-align: center;
    }

    .header-mobile-tablet {
        background-color: #C92127;
    }

    .header-mobile-tablet__body {
        display: flex;
        align-items: center;
        padding: 10px 0 15px 10px;
    }

    .header-mobile-tablet__menu {
        margin-right: 14px;
    }

    .header-mobile-tablet__menu-icon {
        font-size: 26px;
        color: #fff;
    }

    .header-mobile-tablet__search {
        flex-basis: 100%;
    }

    .header-mobile-tablet__input-search {
        outline: none;
        border: none;
        border-radius: 4px;
        padding: 8px;
        width: 100%;
    }

    .header-mobile-tablet__input-search::placeholder {
        opacity: 0.5;
    }

    .header-mobile-tablet__cart {
        margin: 0 10px;
    }

    .header-mobile-tablet__icon-cart {
        color: #fff;
        font-size: 20px;
    }

    .header-mobile-tablet__user {
        margin-left: 4px;
    }

    .header-mobile-tablet__user-icon {
        color: #fff;
        font-size: 20px;
    }

    .body-container__slider-arrow ,
    .body-container__slider__column {
        display: none;
    }

    .body {
        padding: 0 35px;
    }

    .body-container {
        width: 100%;
    }

    .body-container__slider__one {
        max-width: 100%;
    }

    .body-container__item {
        width: 25%;
    }

    .body-container__item-img {
        width: 100%;
    }

    .body-container__nav-flash-sale-img {
        width: 50%;
        border-radius: 5px;
    }

    .body-container__nav-content {
        line-height: 22px;
    }

    .body-container__flash-sale__content-container-items {
        display: none;
    }

    .flash-sale-mobile-tablet-list-item {
        display: flex;
        padding: 10px 0 20px 0;
    }
    
    .body-container__flash-sale__content__item {
        width: 33.3333%;
    }

    .body-container__flash-sale__content__item-coupon {
        right: 20px;
    }

    .body-container__flash-sale__content__item__image img {
        width: 100%;
        display: flex;
        margin: 0 auto;
    }

    .body-container__list-product {
        display: none;
    }

    .danh-muc-san-phan-detail__list-product-item {
        width: 25%;
        padding: 0 5px;
    }

    .danh-muc-san-phan-detail-tablet {
        display: flex;
        width: 100%;
    }

    .danh-muc-san-phan-detail__list-product-item-info__img {
        width: 100%;
        height: auto;
    }

    .danh-muc-san-phan-detail__list-product-item {
        height: 330px;
        margin: 8px;
    }

    .danh-muc-san-phan-detail__see-more {
        margin-top: 10px;
    }

    .thuong-hieu-item {
        width: calc(100% / 9);
    }

    .thuong-hieu-item a {
        display: block;
    }

    .thuong-hieu-item img {
        width: 100%;
        height: auto;
    }

    .footer__contact__content {
        flex-direction: column;
    }

    .footer__contact__content__address ,
    .footer__contact__content__email ,
    .footer__contact__content__phone-number {
        padding: 8px 0;
    }

    .trend-buy-products__row {
        display: none;
    }

    .header__overlay {
        display: none;
    }
}

/* Mobile */
@media only screen and (max-width: 600px){
    .body {
        padding: 0;
    }

    .body-container__items-image {
        display: none;
    }

    .body-container__nav {
        flex-wrap: wrap;
    }

    .body-container__nav-flash-sale {
        width: 20%;
        padding: 10px 0;
    }

    .body-container__nav-flash-sale-img {
        width: 60%;
        border-radius: 10px;
        margin-bottom: 4px;
    }
    
    .body-container__nav-content {
        font-size: 12px;
        color: #333;
        line-height: 16px;
        text-align: center;
        margin-top: 0;
    }

    .trend-buy-products__row__item-infor__img {
        width: 100%;
        height: auto;
        display: flex;
        margin: 0 auto;
    }

    .trend-buy-products__row__item-infor {
        min-height: 0;
    }

    .trend-buy-products__row__item__sale-coupon {
        right: -10px;
    }

    .trend-buy-products__row__item {
        width: 33.3333%;
        margin-right: 10px;
    }

    .trend-buy__nav-title-one span {
        font-size: 11px;
    }

    .trend-buy-products__row {
        display: none;
    }

    .trend-buy-mobile {
        display: block;
    }

    .trend-buy-products__row-mobile {
        display: flex;
    }
    
    .trend-buy__nav {
        flex-wrap: wrap;
    }

    .danh-muc-san-phan-detail__list-product-item__add-to-cart span {
        font-size: 12px;
    }

    .danh-muc-san-phan-detail__list-product {
        display: none;
    }

    .danh-muc-san-phan-detail-mobile {
        display: flex;
    }

    .danh-muc-san-phan-detail-tablet {
        display: none;
    }

    .danh-muc-san-phan-detail__list-product-item {
        width: 33.3333%;
    }

    .danh-muc-san-phan-detail__list-product-item {
        height: 280px;
    }

    .danh-muc-san-phan-detail__nav {
        flex-wrap: wrap;
    }

    .list-product__header-content {
        flex-wrap: wrap;
    }

    .list-product__header-content span {
        font-size: 12px;
    }

    .list-product__header-content {
        width: 100%;
        flex-wrap: wrap;
    }

    .register-notify {
        display: none;
    }

    .footer {
        margin-top: 20px;
    }

    .footer__support ,
    .footer__my-account ,
    .footer__service {
        width: 50%;
        padding: 10px;
    }

    .list-product__container-item-chinh-img , 
    .list-product__container-items-phu {
        display: none;
    }

    .list-product__container-items-phu__item {
        width: 50%;
        padding: 6px;
        margin-right: 10px;
        flex-direction: column;
    }

    .list-product__see-more {
        display: none;
    }

    .trend-buy-tablet {
        display: none;
    }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .trend-buy-products__row__item {
        width: 25%;
        padding-right: 10px;
    }

    .trend-buy__nav-title-one span {
        font-size: 13px;
    }

    .trend-buy-products__row__item-infor__img {
        width: 100%;
        height: auto;
        display: flex;
        margin: 0 auto;
    }

    .trend-buy-products__row__item-infor__content {
        font-size: 14px;
    }

    .danh-muc-san-phan-detail__list-product {
        display: none;
    }

    .trend-buy-products__row__item-infor {
        min-height: 0;
    }

    .danh-muc-san-phan-detail__list-product-item__add-to-cart span {
        font-size: 14px;
    }

    .trend-buy-tablet {
        display: block;
    }

    .trend-buy-products__row-tablet {
        display: flex;
    }
    
    .trend-buy__nav {
        flex-wrap: wrap;
    }

    .danh-muc-san-phan-detail__list-product-item__add-to-cart span {
        font-size: 12px;
    }

    .danh-muc-san-phan-detail__list-product {
        display: none;
    }

    .danh-muc-san-phan-detail-mobile {
        display: none;
    }

    .danh-muc-san-phan-detail-tablet {
        display: flex;
    }

    .danh-muc-san-phan-detail__list-product-item {
        min-height: 250px;
    }

    .list-product__container-item-chinh-img {
        display: none;
    }

    .list-product__container-items-phu__item {
        padding: 12px;
    }

    .list-product {
        width: 100%;
    }

    .list-product__see-more {
        margin: 0 auto;
    }

    .list-product__header-content span {
        font-size: 14px;
    }

    .list-product__header-content {
        width: 100%;
        flex-wrap: wrap;
    }

    .register-notify {
        display: none;
    }

    .register-notify__decrip {
        width: 100%;
    }

    .footer {
        margin-top: 20px;
    }

    .footer__intro {
        display: block;
        flex-basis: 100%;
    }

    .footer__support ,
    .footer__my-account ,
    .footer__service {
        width: 50%;
        padding: 10px;
    }

    .footer__doi-tac {
        width: 100%;
    }

    .trend-buy-mobile {
        display: none;
    }

    .trend-buy-tablet {
        display: block;
    }
}